### Zadanie

1. Načítajte súbor `Accidents.csv`, rozdeľte ho na tri tabuľky podľa hodnôt atribútu `Accident_Severity` (do prvej tabuľky vyberte iba hodnoty 1 - `Fatal`, do druhej 2 - `Serious` a do tretej 3 - `Slight`). (2b)

In [2]:
# import knižníc a inicializácia knižnice seaborn
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
sns.set()

In [3]:
data = pd.read_csv("./data/Accidents.csv")
data.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,...,0,1,1,2,2,0,0,1,1,E01002849
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,...,0,5,4,1,1,0,0,1,1,E01002909
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,0,0,4,1,1,0,0,1,1,E01002857
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,...,0,0,1,1,1,0,0,1,1,E01002840
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,...,0,0,7,1,2,0,0,1,1,E01002863

In [4]:
# vypísanie počtu hodnôt dátového setu
print(data.shape)

(198735, 32)

In [5]:
# rozdelenie na  tabuľky podľa hodnôt atribútov Accident_Severinity
Fatal_Accidents = data[data["Accident_Severity"] == 1] 
Serious_Accidents = data[data["Accident_Severity"] == 2]
Slight_Accidents = data[data["Accident_Severity"] == 3]

# vypísanie počtu hodnôt
print(Fatal_Accidents.shape)
print(Serious_Accidents.shape)
print(Slight_Accidents.shape)

(2913, 32)
(25029, 32)
(170793, 32)

2. Z tabuľky pre hodnoty `Slight` náhodne vyberte 10% príkladov pomocou metódy `sample`. Nasledujúci príklad kódu zobrazuje použitie tejto metódy. (2b)

In [ ]:
# `frac` udáva koľko príkladov sa má náhodne vybrať (0.1 = 10%), `random_state` inicializuje generátor
# náhodných čísel, aby sme vždy dostali rovnaký výber
sample_data = accidents_slight.sample(frac=0.1, random_state=1234)

In [8]:
# náhodný výber 10% príkladov hodnoty Slight pomocou metódy sample
sample_Slight_Accidents = Slight_Accidents.sample(frac=0.1, random_state=1234)

In [9]:
# vypísanie počtu hodnôt náhodného výberu
print(sample_Slight_Accidents.shape)

(17079, 32)

3. Spojte všetky tri tabuľky do upravenej tabuľky `Accidents`, ktorá bude obsahovať 10% príkladov `Slight` a všetky príklady závažnosti `Fatal` a `Serious`. Po spojení by ste mali mať 45 021 príkladov. (2b)

In [10]:
# spojenie do tabuľky Accidents a vypísanie počtu hodnôt
Accidents = pd.concat([sample_Slight_Accidents, Fatal_Accidents, Serious_Accidents], ignore_index=True, sort=False)

print(Accidents.shape)

(45021, 32)

4. Spojte upravenú tabuľku `Accidents` s tabuľkou `Vehicles` podľa kľúča `Accident_Index` tak, aby vo výslednej tabuľke boli iba vozidla nehôd z upravenej tabuľky `Accidents`. Po spojení by ste mali dostať redukovanú trénovaciu množinu s menším počtom príkladov, ktorú budete ďalej používať pre analýzu dát. Keďže sme zmenšili počet menej závažných príkladov, zvýšili sme tým váhu príkladov s väčšou závažnosťou. (2b)

In [11]:
# načítanie dát - tabuľlky Vehicles
Vehicles = pd.read_csv("./data/Vehicles.csv")
Vehicles.head()

,Accident_Index,Vehicle_Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Leaving_Carriageway,...,Was_Vehicle_Left_Hand_Drive?,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type
0,200501BS00001,1,9,0,18,0,0,0,0,0,...,1,15,2,74,10,-1,-1,-1,7,1
1,200501BS00002,1,11,0,4,0,3,0,0,0,...,1,1,1,42,7,8268,2,3,-1,-1
2,200501BS00003,1,11,0,17,0,0,0,4,0,...,1,1,1,35,6,8300,2,5,2,1
3,200501BS00003,2,9,0,2,0,0,0,0,0,...,1,15,1,62,9,1762,1,6,1,1
4,200501BS00004,1,9,0,18,0,0,0,0,0,...,1,15,2,49,8,1769,1,4,2,1

In [12]:
# vypísanie počtu hodnôt dátového setu - tabuľky Vehicles
print(Vehicles.shape)

(366236, 22)

In [13]:
# spojenie tabuliek podľa kľúča Accident_Index
Accidents_together = pd.merge(left=Accidents, right=Vehicles, left_on="Accident_Index", right_on="Accident_Index", how="inner")

In [14]:
# vypísanie počtu hodnôt
print(Accidents_together.shape)

(79382, 53)

5. Pre ďalšiu analýzu vyberte iba nasledujúce atribúty:
    * `Day_of_Week`
    * `1st_Road_Class`
    * `Road_Type`
    * `Light_Conditions`
    * `Weather_Conditions`     
    * `Road_Surface_Conditions`
    * `Urban_or_Rural_Area`
    * `Vehicle_Type`
    * `Sex_of_Driver`
    * `Age_of_Driver`
    * `Engine_Capacity_(CC)`
    * `Age_of_Vehicle`
    * `Accident_Severity` 
    
Takúto selekciu atribútov urobíme kvôli odstráneniu redundantných atribútov v datasete. Nepoužijeme redundantné atribúty popisujúce napr. geolokalitu, atď., prípadne odstránime atribúty, ktoré pre predikciu nemôžu byť použité (nie sú známe pred výskytom samotnej nehody). (2b)

In [17]:
# selekcia atribútov
Selected_Accidents = Accidents_together[["Day_of_Week", "1st_Road_Class", "Road_Type", "Light_Conditions", "Weather_Conditions", "Road_Surface_Conditions", "Urban_or_Rural_Area", "Vehicle_Type", "Sex_of_Driver", "Age_of_Driver", "Engine_Capacity_(CC)", "Age_of_Vehicle", "Accident_Severity"]]

In [19]:
Selected_Accidents.head(20)

,Day_of_Week,1st_Road_Class,Road_Type,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Urban_or_Rural_Area,Vehicle_Type,Sex_of_Driver,Age_of_Driver,Engine_Capacity_(CC),Age_of_Vehicle,Accident_Severity
0,2,4,6,1,8,1,1,9,1,-1,-1,-1,3
1,2,4,6,1,8,1,1,1,1,26,-1,-1,3
2,5,1,3,1,1,2,2,9,2,72,998,5,3
3,5,1,3,1,1,2,2,9,2,44,1461,1,3
4,5,1,3,1,1,2,2,19,1,40,2461,1,3
5,5,1,3,1,1,2,2,21,1,47,11705,6,3
6,3,6,6,4,2,2,1,9,1,24,998,4,3
7,3,6,6,4,2,2,1,9,2,30,1598,11,3
8,3,3,3,6,1,1,2,9,2,39,-1,-1,3
9,3,3,3,6,1,1,2,8,1,46,1896,2,3
10,3,6,6,1,1,1,1,9,1,-1,-1,-1,3
11,5,5,6,1,1,4,2,90,1,28,2496,7,3
12,3,3,6,1,7,2,2,9,2,34,1389,10,3
13,3,3,6,1,7,2,2,9,2,49,-1,-1,3
14,3,3,6,1,7,2,2,9,2,51,1149,-1,3
15,7,3,3,1,1,2,2,9,1,25,1905,9,3
16,5,6,6,1,1,2,1,9,1,65,-1,-1,3
17,5,6,6,1,1,2,1,1,1,12,-1,-1,3
18,4,3,6,1,1,1,2,19,1,59,2188,3,3
19,4,3,6,1,1,1,2,9,2,48,1527,9,3

In [21]:
test = Selected_Accidents
print(test.shape)

(79382, 13)

6. Spočítajte počet chýbajúcich hodnôt pre jednotlivé atribúty. Vhodne doplňte chýbajúce hodnoty (pozor: chýbajúce hodnoty sú označené -1).(4b)

In [22]:
# zistenie počtu chýbajúcich hodnôt
test.isna().sum()

Day_of_Week                0
1st_Road_Class             0
Road_Type                  0
Light_Conditions           0
Weather_Conditions         0
Road_Surface_Conditions    0
Urban_or_Rural_Area        0
Vehicle_Type               0
Sex_of_Driver              0
Age_of_Driver              0
Engine_Capacity_(CC)       0
Age_of_Vehicle             0
Accident_Severity          0
dtype: int64

In [25]:
# zámena chýbajúcich hodnôt z -1 na nan a zistenie počtu chýbajúcich hodnôt
test = test.replace(-1, np.nan)
test.isna().sum()

Day_of_Week                    0
1st_Road_Class                 0
Road_Type                      0
Light_Conditions               0
Weather_Conditions             0
Road_Surface_Conditions       80
Urban_or_Rural_Area            0
Vehicle_Type                  14
Sex_of_Driver                  7
Age_of_Driver               7784
Engine_Capacity_(CC)       24978
Age_of_Vehicle             27406
Accident_Severity              0
dtype: int64

In [26]:
# zistenie najpočetnejšej množiny hodnôt pre Road_Surface_Conditions
test["Road_Surface_Conditions"].value_counts()

1.0    54700
2.0    23007
4.0     1147
3.0      358
5.0       90
Name: Road_Surface_Conditions, dtype: int64

In [27]:
# nahradenie chýbajúcich hodnôt pre Road_Surface_Conditions na 1.0 a kontrola
test["Road_Surface_Conditions"] = test["Road_Surface_Conditions"].fillna(1.0)
test.isna().sum()

Day_of_Week                    0
1st_Road_Class                 0
Road_Type                      0
Light_Conditions               0
Weather_Conditions             0
Road_Surface_Conditions        0
Urban_or_Rural_Area            0
Vehicle_Type                  14
Sex_of_Driver                  7
Age_of_Driver               7784
Engine_Capacity_(CC)       24978
Age_of_Vehicle             27406
Accident_Severity              0
dtype: int64

In [28]:
# zistenie najpočetnejšej množiny hodnôt pre Vehicle_type
test["Vehicle_Type"].value_counts()

9.0     55695
5.0      4434
1.0      3929
19.0     3514
21.0     2463
3.0      2121
11.0     2018
2.0      1321
8.0      1180
4.0       908
20.0      698
90.0      532
10.0      281
17.0      230
16.0       32
18.0       12
Name: Vehicle_Type, dtype: int64

In [30]:
# nahradenie chýbajúcich hodnôt pre Vehicle_Type na 9.0 a kontrola
test["Vehicle_Type"] = test["Vehicle_Type"].fillna(9.0)

test.isna().sum()

Day_of_Week                    0
1st_Road_Class                 0
Road_Type                      0
Light_Conditions               0
Weather_Conditions             0
Road_Surface_Conditions        0
Urban_or_Rural_Area            0
Vehicle_Type                   0
Sex_of_Driver                  7
Age_of_Driver               7784
Engine_Capacity_(CC)       24978
Age_of_Vehicle             27406
Accident_Severity              0
dtype: int64

In [1]:
# nahradenie chýbajúcich hodnôt pre Sex_of_Driver na 3 (not known) a kontrola

test["Sex_of_Driver"] = test["Sex_of_Driver"].fillna(3)

test.isna().sum()

NameError: name 'test' is not defined

In [18]:
# zobrazenie štatistík pre Age_of_Driver
test["Age_of_Driver"].describe()

NameError: name 'test' is not defined

7. Pomocou konfigenčnej tabuľky vyjadrite závislosti medzi nasledujúcimi atribútmi a cieľovým atribútom `Accident_Severity`:
* `Day_of_Week` 
* `Sex_of_Driver`
* `Age_of_Driver` (nutné vhodne diskretizovať tento atribút)

Použite niektorú z vizualizácií knižnice seaborn na grafické zobrazenie týchto vzťahov. (5b)

In [24]:
pd.pivot_table(Selected_Accidents, index=["Sex_of_Driver"], values="Accident_Severity")

               Accident_Severity
Sex_of_Driver
-1                      2.428571
 1                      2.300116
 2                      2.433596
 3                      2.400000

8. Vytvorte dátovú množinu, v ktorej nahradíte všetky nominálne atribúty za číselné alebo binárne. (3b)

In [ ]:
# YOUR CODE HERE

9. Rozdeľte dáta na trénovaciu a testovaciu množinu v pomere 70/30. Ako cieľový atribút použite atribút `Accident_Severity`. (2b)

In [ ]:
# YOUR CODE HERE

10. Spočítajte pomocou funkcie `SelectKBest` a `mutual_score_info` významosti jednotlivých atribútov pre predikciu v trénovacej množine. Skúste získané informácie využiť pri predspracovaní dát pre niektoré z modelov. (3b)

In [ ]:
# YOUR CODE HERE

11. Natrénujte rôzne klasifikačné modely pre predikciu atribútu `Accident_Severity`. Natrénujte nasledovné modely s prednastavenými parametrami:
* k-najbližších susedov
* Rozhodovacie stromy
* Random forests

Jednotlivé modely otestujte pomocou 10-násobnej krížovej validácie pomocou metriky `accuracy`. 

Pozor - pre jednotlivé modely zvoľte vhodný spôsob predspracovania (možná modifikácia predspracovania v kroku 8). (6b)

In [ ]:
# YOUR CODE HERE

12. Porovnajte natrénované modely aj pomocou ROC krivky testovacej množine. Identifikujte model, ktorý dáva najlepšie výsledky s prednastavenými parametrami. 
V tomto kroku sa posnažte vyladiť model nájdením najvhodnejších parametrov pomocou `GridSearchCV`. Nájdite a vypíšte najlepšiu kombináciu parametrov. (4b)

In [ ]:
# YOUR CODE HERE

13. Natrénujte na celej trénovacej množine model s najlepšími parametrami. Model otestujte na testovacej množine. Vyhodnoťte model pomocou metrík `accuracy`, `precision` a `recall`. Vypíšte preň `confusion matrix`. (3b)

In [1]:
# YOUR CODE HERE